name: Deploy to aaPanel Direct

on:
  push:
    branches: [ "main", "staging" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Deploy ke STAGING
      - name: Deploy Staging
        if: github.ref == 'refs/heads/staging'
        run: |
          rsync -av --delete --no-o --no-g --no-p --no-t \
          --exclude '.git' --exclude '.github' \
          ./ /www/wwwroot/newusagestag/

      # Deploy ke PRODUCTION
      - name: Deploy Production
        if: github.ref == 'refs/heads/main'
        run: |
          rsync -av --delete --no-o --no-g --no-p --no-t \
          --exclude '.git' --exclude '.github' \
          ./ /www/wwwroot/newusage/